.App {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
body {
  background-size: 150%;
  background: black;
}

.container {
  align-items: center;
  justify-content: center;
  display: flex;
}

img {
  height: 12em;
}

input {
  box-sizing: border-box;
  font-size: 2rem;
  padding: 1rem;
  display: block;
  margin: 2rem auto;
}
